.bgContainer {
  background: #111940;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1900px;
  text-align: center;
  z-index: 1;
}

.contentWrapper {
  padding-top: 100px;
}

.title {
  font-size: clamp(28px, 6vw, 64px); /* Tự động co giãn */
  color: white;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 10px;
}

.typingText {
  color: white;
  font-weight: bold;
  margin-top: 10px;
  min-height: 72px;
  /* Đảm bảo không bị co lại */
  display: flex;
  justify-content: center;
}

.description {
  font-size: clamp(13px, 2.5vw, 20px);
  color: white;
  max-width: 700px;
  margin: 20px auto 0 auto;
  line-height: 1.5;
}

.menuSection {
  padding: 50px 20px;
  background: #fff;
  text-align: center;
}
/* Responsive Design */
@media (max-width: 1024px) {
  .title {
    font-size: 48px;
  }

  .description {
    max-width: 70%;
  }

  .contentWrapper {
    padding-top: 100px;
    /* Giảm padding-top trên tablet */
  }
}

@media (max-width: 768px) {
  .title {
    padding-top: 20px;
    font-size: 36px;
  }

  .typingText {
    font-size: 18px;
    display: flex;
    justify-content: center;
  }

  .description {
    max-width: 90%;
    font-size: 14px;
  }

  .contentWrapper {
    padding-top: 80px;
    /* Điều chỉnh cho mobile */
  }

  .bgContainer {
    height: 90vh;
    /* Giảm chiều cao trên mobile */
  }
}

@media (max-width: 480px) {
  .title {
    padding-top: 20px;
    font-size: 38px;
  }

  .typingText {
    font-size: 16px;
  }

  .description {
    max-width: 95%;
    font-size: 13px;
  }

  .contentWrapper {
    padding-top: 60px;
    /* Điều chỉnh cho màn hình nhỏ */
  }

  .bgContainer {
    height: 85vh;
    /* Giảm thêm chiều cao */
  }
}

/* Image Slider */
.imgContainer {
  flex: 1;
  height: auto;
  width: 100%;
  max-width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .imgContainer {
    height: 300px;
  }
}

@media (max-width: 480px) {
  .imgContainer {
    height: 200px;
  }
}
